@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
  color: #dddddd;
}

ul {
  list-style: none;
}

li {
  line-height: 3;
}

.yellow {
  color: #f8d23c;
}

.header {
  background-color: #161616;
  color: #dddddd;
  display: flex;
  height: 5rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
  justify-content: space-around;
  
}

.brand {
  font-size: 24px;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #161616;
  padding: 1rem;
}

.showMenu {
  height: 0;
  visibility: hidden;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f8d23c;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}